@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-size: .875rem;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  margin: 15px;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: 150ms ease-out 100ms;
}

button:hover {
  background-color: black;
  color: white;
}

button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

button-39:focus-visible {
  box-shadow: none;
}

.main_container {
  display: block;
  width: 100%;
  margin: auto;
}

.wrapper {
  margin: auto;
  width: inherit;
  padding: 10px;
  text-align: center;
}

.wrapper ul {
  width: inherit;
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo {
  width: inherit;
}